openapi: 3.0.1
info:
  title: Typeface Audiences Provisioning Service API
  version: v0
servers:
- url: https://api-us.typeface.ai
  description: Generated server url
security:
- BearerAuth: []
tags:
- name: Provisioning Service
paths:
  /provisioning-service/accounts/{accountId}/users:
    get:
      summary: Get team users
      description: This endpoint retrieves a list of users associated with a specified account.
      operationId: getUsers
      parameters:
      - name: accountId
        in: path
        description: The unique ID of the account.
        required: true
        schema:
          type: string
      security:
      - BearerAuth: []
      responses:
        '200':
          description: Successfully retrieved the list of users in the account.
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: The unique ID of the user.
                          example: 2f16xxyy-4cf5-cdfgh-12345-2fd33c0
                        name:
                          type: string
                          description: The full name of the user.
                          example: John Smith
                        picture:
                          type: string
                          format: uri
                          description: The URL to the user's profile picture.
                          example: https://lh3.googleusercontent.com/a/ACg8ocI13iPx88lEsHuJvs6ByjxylztNn5RaLyHZciONsdsTsg7YcA=s96-c
                        email:
                          type: string
                          description: The email address of the user.
                          example: john@smith.io
                        userRole:
                          type: string
                          description: The role of the user within the account.
                          enum:
                          - OWNER
                          - MEMBER
                          example: OWNER
                    example:
                    - id: 2f16xxyy-4cf5-cdfgh-12345-2fd33c0
                      name: John Smith
                      picture: https://lh3.googleusercontent.com/a/ACg8ocI13iPx88lEsHuJvs6ByjxylztNn5RaLyHZciONsdsTsg7YcA=s96-c
                      email: john@smith.io
                      userRole: OWNER
        '400':
          description: Bad request due to invalid parameters or malformed request.
        '500':
          description: Internal server error.
      tags:
      - Provisioning Service
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-readme:
  explorer-enabled: true
  proxy-enabled: true
