openapi: 3.2.0
info:
  title: Content Workflow Basic Services API
  description: This template will guide you through the API endpoints to get workflows, get workflow steps, apply workflow to document, update document workflow status, update document workflow, update document assignees.
  version: 1.0.0
  contact: {}
servers:
- url: https://api-us.typeface.ai
security:
- bearerAuth: []
tags:
- name: Basic Services
paths:
  /basic-services/document-export-service/accounts/{accountId}/workspaces/{projectId}/document/{documentId}/export/pdf:
    get:
      summary: Get Document Content in PDF
      description: Retrieve a document's content in PDF format.
      operationId: getDocumentPdf
      parameters:
      - name: accountId
        in: path
        required: true
        schema:
          type: string
        description: The unique ID of the account
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: The unique ID of the workspace/project
      - name: documentId
        in: path
        required: true
        schema:
          type: string
        description: The unique ID of the document
      responses:
        '200':
          description: Successfully retrieved the PDF document
          content:
            application/pdf:
              schema:
                type: string
                format: byte
        '400':
          description: Bad Request - Invalid input data
        '401':
          description: Unauthorized - Authentication failed
        '404':
          description: Document not found - The specified document could not be found
      security:
      - bearerAuth: []
      tags:
      - Basic Services
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
x-readme:
  explorer-enabled: true
  proxy-enabled: true
