{"openapi":"3.0.1","info":{"title":"Typeface API","version":"v0"},"servers":[{"url":"https://api-us.typeface.ai","description":"Generated server url"}],"security":[{"BearerAuth":[]}],"paths":{"/oauth2/token":{"post":{"security":[],"summary":"Get access token","description":"This API endpoint allows authorized client applications to obtain an access token using their Application credentials. The access token is required to authenticate and authorize requests to other Typeface AI API endpoints. \n\n**Token Expiration & Renewal**:  Access tokens are valid for one hour.\n\nTo maintain uninterrupted access to Typeface AI APIs, client applications should implement a mechanism to:\n  - *Periodically Refresh*: Automatically fetch a new access token before\n  the current one expires.\n  - *Error-Based Refresh*: Fetch a new access token when encountering a 401\n  Unauthorized error, indicating token expiration.","tags":["Authentication"],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"type":"object","required":["grant_type","applicationId","applicationSecret","tenantId"],"properties":{"grant_type":{"type":"string","enum":["client_credentials"]},"applicationId":{"type":"string"},"applicationSecret":{"type":"string"},"tenantId":{"type":"string"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string"},"expires_in":{"type":"integer"}}}}}}}}},"/identity-service/applications":{"post":{"tags":["Authentication"],"operationId":"registerApplication","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateApplicationResponseBody"}}}}},"summary":"Create Application"}},"/identity-service/applications/{applicationId}/keys/{ordinal}/rotate":{"post":{"tags":["Authentication"],"operationId":"rotateApplicationSecret","parameters":[{"name":"applicationId","in":"path","required":true,"schema":{"type":"string"}},{"name":"ordinal","in":"path","required":true,"schema":{"type":"string","enum":["PRIMARY","SECONDARY"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RotateApplicationKeyRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RotateApplicationKeyResponseBody"}}}}},"summary":"Rotate Application Secret"}},"/identity-service/discover":{"get":{"tags":["Discovery"],"operationId":"discoverIdentity","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserResponseBody"}}}}},"summary":"Discovery API","description":"Retrieve all teams the app has access to.\n\nIf the app has access to some specific teams, the links for operating on these teams can be found under each team. Otherwise, if the app has access has access to entire Org, use the Query teams API."}},"/orgs/{orgId}/accounts":{"get":{"tags":["Discovery"],"operationId":"queryAccountsInOrg","parameters":[{"name":"orgId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAccountsInOrgResponseBody"}}}}},"summary":"Query Teams","description":"**Sample Response**\n```json \n\n{\n  \"accounts\": [\n    {\n      \"accountId\": \"a4c16a3c-e945-4af9-9932-9cce26c42474\",\n      \"displayName\": \"Team 1\",\n      \"createdBy\": {\n        \"id\": \"e0812ff6-d285-42ef-b0bf-3f5987311e7b\",\n        \"name\": \"John Doe\",\n        \"picture\": \"https://s.gravatar.com/avatar/bb4894e8d57f4c49f81a37eaa4009467?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fag.png\",\n        \"email\": \"john.doe@typeface.ai\"\n      },\n      \"accountCreatedAt\": \"2024-06-13T08:48:13Z\",\n      \"accountModifiedAt\": \"2024-06-13T08:48:13Z\",\n      \"scaleUnitId\": 1,\n      \"orgId\": \"8b66d551-58f2-4060-adeb-e19b0b07f65d\",\n      \"activeMembers\": 2,\n      \"accountUser\": false\n    },\n    {\n      \"accountId\": \"ae858617-c14d-46d1-b1cf-23daf4928032\",\n      \"displayName\": \"Team 2\",\n      \"createdBy\": {\n        \"id\": \"6597ef22-5d9d-42b3-8780-6ba43519496f\",\n        \"name\": \"Alice Doe\",\n        \"picture\": \"https://s.gravatar.com/avatar/47360b4957d175a102a4f7d0947ae868?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fnd.png\",\n        \"email\": \"alice.doe@typeface.ai\"\n      },\n      \"accountCreatedAt\": \"2024-06-13T08:36:56Z\",\n      \"accountModifiedAt\": \"2024-06-13T08:36:56Z\",\n      \"scaleUnitId\": 1,\n      \"orgId\": \"8b66d551-58f2-4060-adeb-e19b0b07f65d\",\n      \"activeMembers\": 1,\n      \"accountUser\": false\n    }\n  ],\n  \"page\": 1,\n  \"size\": 10,\n  \"totalAccounts\": 2,\n  \"totalPages\": 1\n}\n```"}},"/provisioning-service/account":{"post":{"tags":["Provisioning"],"operationId":"createAccount","parameters":[{"name":"createSharedWorkspaces","in":"query","required":false,"schema":{"type":"boolean","default":true}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAccountRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateAccountResponseBody"}}}}},"summary":"Create Team","description":"**Note:** Ensure you use the appropriate API endpoint corresponding to the selected cloud provider to avoid errors.\n\nThe available endpoints are listed below:\n- **AZURE**: https://api-us.typeface.ai\n- **GOOGLE**: https://api-us2.typeface.ai"}},"/provisioning-service/account/{accountId}":{"delete":{"tags":["Provisioning"],"operationId":"deleteAccountById","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"summary":"Delete Team"}},"/workspace-service/accounts/{accountId}/projects":{"get":{"tags":["Projects"],"operationId":"queryProjectsInAccount_1","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"workspaceSubType","in":"query","required":false,"schema":{"type":"string","default":"DEFAULT","enum":["ALCHEMIST","WEAVER","BATCH_OUTPUT","DEFAULT","BRAND_KIT_LIBRARY","DECORATION_LIBRARY","AUDIENCE_LIBRARY","LOGO_LIBRARY"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/QueryProjectsResponseBody"},{"$ref":"#/components/schemas/QueryProjectResponseBody"}]}}}}},"summary":"List Projects"},"post":{"tags":["Projects"],"operationId":"createProjectInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProjectRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityModelProject"}}}}},"summary":"Create a Project"}},"/workspace-service/accounts/{accountId}/projects/{projectId}":{"get":{"tags":["Projects"],"operationId":"getProjectInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityModelProject"}}}}},"summary":"Get a Project"},"put":{"tags":["Projects"],"operationId":"updateProjectInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProjectRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityModelProject"}}}}},"summary":"Update Project"},"delete":{"tags":["Projects"],"operationId":"deleteProjectInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"summary":"Delete Project"}},"/content-service/workspace/{projectId}/layout-manifests":{"get":{"tags":["Projects"],"operationId":"queryLayoutManifestsInProject","parameters":[{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QueryLayoutManifestResponseBody"}}}}},"summary":"Project - List Layouts"}},"/content-service/workspace/{projectId}/layout-manifests/{layoutId}":{"get":{"tags":["Projects"],"operationId":"getLayoutManifestsInProject","parameters":[{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"layoutId","in":"path","required":true,"description":"Unique identifier for the specific layout manifest","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetLayoutManifestResponseBody"}}}}},"summary":"Project - Get Layout"}},"/profile-service/accounts/{accountId}/projects/{projectId}/assets":{"get":{"tags":["Digital Assets"],"operationId":"queryAssetsInProject","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"contentType","in":"query","required":false,"description":"Allowed values are 'IMAGE' and 'FILE'","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QueryAssetsV2InAccountResponseBody"}}}}},"summary":"Project - List Assets"},"post":{"tags":["Digital Assets"],"operationId":"createAssetInProject","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/CreateAssetV2RequestBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelAssetV2"}}}}},"summary":"Project - Create Asset"}},"/profile-service/accounts/{accountId}/projects/{projectId}/assets/{assetId}":{"description":"`ref` Field Usage in API Responses:\n\nThe `ref` field plays a crucial role in the identification and processing of assets across our content generation APIs. It acts as a unique asset identifier that can be leveraged in subsequent API requests. Whenever an API requires asset information within its payload, the ref value from the response should be provided to reference the specific asset.\n\nThis field ensures seamless asset integration across various operations, enabling efficient consumption and interaction with assets in our system. Make sure to include the ref field in all relevant requests to facilitate proper asset handling and processing in connected APIs\n","get":{"tags":["Digital Assets"],"operationId":"getAssetInProject","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"assetId","in":"path","required":true,"description":"Unique identifier for the specific asset","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelAssetV2"}}}}},"summary":"Project - Get Asset"},"put":{"tags":["Digital Assets"],"operationId":"updateAssetInProject","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"assetId","in":"path","required":true,"description":"Unique identifier for the specific asset","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/UpdateAssetV2RequestBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelAssetV2"}}}}},"summary":"Project - Update Asset"},"delete":{"tags":["Digital Assets"],"operationId":"deleteAssetInProject","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"assetId","in":"path","required":true,"description":"Unique identifier for the specific asset","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}},"summary":"Project - Delete Asset"}},"/profile-service/accounts/{accountId}/projects/{projectId}/assets/{assetId}/metadata":{"get":{"tags":["Digital Assets"],"operationId":"getMetadataOfProjectAssets","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"assetId","in":"path","required":true,"description":"Unique identifier for the specific asset","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssetMetadataResponeBody"}}}}},"summary":"Project - Get Metadata","description":"This API provides metadata details for a specific asset, with a primary focus on its associated tags."},"patch":{"tags":["Digital Assets"],"operationId":"patchMetadataOfProjectAssets","summary":"Project - Patch Metadata","description":"This API allows partial updates to asset metadata, supporting add, replace, and remove operations for the `tags` key.\n","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"assetId","in":"path","required":true,"description":"Unique identifier for the specific asset","schema":{"type":"integer","format":"int64"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataPatchRequest"}}}},"responses":{"204":{"description":"Metadata updated successfully. No content returned."},"400":{"description":"Bad Request – Validation failed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Invalid tag format."},"details":{"type":"string","example":"Tag value must be a JSON object for entity 12345"}}},"examples":{"missingValueField":{"summary":"Missing or invalid 'value' field","value":{"error":"Invalid tag format.","details":"'value' must be a string for entity 12345"}},"missingTagSourceField":{"summary":"Missing or invalid 'tagSource' field","value":{"error":"Invalid tag format.","details":"'tagSource' must be a string for entity 12345"}},"invalidTagSource":{"summary":"tagSource not allowed","value":{"error":"Invalid tagSource.","details":"tagSource must be 'auto', 'user' for entity 12345"}},"notAJsonObject":{"summary":"value node not a JSON object","value":{"error":"Invalid tag format.","details":"Tag value must be a JSON object for entity 12345"}}}}}}}}},"/profile-service/accounts/{accountId}/asset-catalogs/{assetCatalogId}/assets":{"get":{"tags":["Digital Assets"],"operationId":"queryAssetsInAssetCatalog","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"assetCatalogId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"contentType","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/QueryAssetsV2InAccountResponseBody"}}}}},"summary":"List Assets"},"post":{"tags":["Digital Assets"],"operationId":"createAssetInAssetCatalog","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"assetCatalogId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/CreateAssetV2RequestBody"}}}},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelAssetV2"}}}}},"summary":"Create Asset"}},"/profile-service/accounts/{accountId}/asset-catalogs/{assetCatalogId}/assets/{assetId}":{"delete":{"tags":["Digital Assets"],"operationId":"deleteAssetInAssetCatalog","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"assetCatalogId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"assetId","in":"path","required":true,"description":"Unique identifier for the specific asset","schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"summary":"Delete Asset"},"get":{"tags":["Digital Assets"],"operationId":"getAssetInAssetCatalog","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"assetCatalogId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"assetId","in":"path","required":true,"description":"Unique identifier for the specific asset","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelAssetV2"}}}}},"summary":"Get Asset"},"put":{"tags":["Digital Assets"],"operationId":"updateAssetInAssetCatalog","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"assetCatalogId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"assetId","in":"path","required":true,"description":"Unique identifier for the specific asset","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/UpdateAssetV2RequestBody"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EntityModelAssetV2"}}}}},"summary":"Update Asset"}},"/profile-service/accounts/{accountId}/asset-catalogs/{assetCatalogId}/assets/{assetId}/metadata":{"get":{"tags":["Digital Assets"],"operationId":"getMetadata","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"assetCatalogId","in":"path","required":true,"description":"Unique identifier for the specific workspace","schema":{"type":"integer","format":"int64"}},{"name":"assetId","in":"path","required":true,"description":"Unique identifier for the specific asset","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AssetMetadataResponeBody"}}}}},"summary":"Get Metadata","description":"This API provides metadata details for a specific asset, with a primary focus on its associated tags."},"patch":{"tags":["Digital Assets"],"operationId":"patchMetadata","summary":"Patch Metadata","description":"This API allows partial updates to asset metadata, supporting add, replace, and remove operations for the `tags` key.\n","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"assetCatalogId","in":"path","required":true,"description":"Unique identifier for the specific workspace","schema":{"type":"integer","format":"int64"}},{"name":"assetId","in":"path","required":true,"description":"Unique identifier for the specific asset","schema":{"type":"integer","format":"int64"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataPatchRequest"}}}},"responses":{"204":{"description":"Metadata updated successfully. No content returned."},"400":{"description":"Bad Request – Validation failed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","example":"Invalid tag format."},"details":{"type":"string","example":"Tag value must be a JSON object for entity 12345"}}},"examples":{"missingValueField":{"summary":"Missing or invalid 'value' field","value":{"error":"Invalid tag format.","details":"'value' must be a string for entity 12345"}},"missingTagSourceField":{"summary":"Missing or invalid 'tagSource' field","value":{"error":"Invalid tag format.","details":"'tagSource' must be a string for entity 12345"}},"invalidTagSource":{"summary":"tagSource not allowed","value":{"error":"Invalid tagSource.","details":"tagSource must be 'auto', 'user' for entity 12345"}},"notAJsonObject":{"summary":"value node not a JSON object","value":{"error":"Invalid tag format.","details":"Tag value must be a JSON object for entity 12345"}}}}}}}}},"/feed-service/accounts/{accountId}/projects/{projectId}/feeds/{feedId}/feedItems":{"get":{"tags":["Feeds"],"operationId":"queryFeedItems","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"feedId","in":"path","required":true,"schema":{"type":"string"}},{"name":"$limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"$cursor","in":"query","required":false,"schema":{"type":"string"}},{"name":"$filter","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryFeedItemsResponseBody"}}}}},"summary":"Query Feed Items"}},"/feed-service/accounts/{accountId}/projects/{projectId}/feeds/{feedId}/feedItems/generate":{"post":{"tags":["Feeds"],"operationId":"generateFeedItemsInFeed","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"feedId","in":"path","required":true,"schema":{"type":"string"}},{"name":"useMock","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateFeedItemRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}},"summary":"Generate On Demand Feed Item"}},"/feed-service/accounts/{accountId}/projects/{projectId}/feeds/{feedId}":{"patch":{"tags":["Feeds"],"operationId":"patchFeed","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"feedId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchFeedRequestBody"}}},"required":true},"responses":{"200":{"description":"OK"}},"summary":"Patch Feed"}},"/feed-service/accounts/{accountId}/projects/{projectId}/feeds/{feedId}/feedItems/{feedItemId}":{"get":{"tags":["Feeds"],"operationId":"getFeedItem","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"feedId","in":"path","required":true,"schema":{"type":"string"}},{"name":"feedItemId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityModelFeedItem"}}}}},"summary":"Get Feed Item"},"delete":{"tags":["Feeds"],"operationId":"discardFeedItem","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"feedId","in":"path","required":true,"schema":{"type":"string"}},{"name":"feedItemId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"summary":"Delete Feed Item"}},"/workspace-resolver-service/accounts/{accountId}/libraries/sub-types/AUDIENCE_LIBRARY":{"get":{"description":"This API endpoint lists all available Audiences in the given team.","tags":["Audiences"],"operationId":"queryAudienceCatalogsInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLibrariesResponseBody"}}}}},"summary":"List Audience Catlogs"}},"/profile-service/accounts/{accountId}/audience-catalogs/{audienceCatalogId}/audience-segments":{"get":{"description":"Lists the available audience segments in given audience catalog","tags":["Audiences"],"operationId":"queryAudiencesInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"audienceCatalogId","in":"path","required":true,"description":"Unique identifier for the audience library","schema":{"type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryAudienceResponseBody"}}}}},"summary":"List Audiences"},"post":{"description":"Create a new audience segment within the given catalog\n\n**Sample request body**\n```json\n{\n  \"workspaceId\": 43672,\n  \"name\": \"Adults in Chicago\",\n  \"properties\": {\n    \"name\": \"Adults in Chicago\",\n    \"ageRangeMin\": 45,\n    \"ageRangeMax\": 65,\n    \"gender\": \"Neutral\",\n    \"preferences\": [\n      \"loves technology\", \"big on startups\"\n    ],\n    \"spendingBehavior\": [\n      \"Luxury\",\n      \"Experimental\"\n    ]\n  }\n}\n```","tags":["Audiences"],"operationId":"createAudienceInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"audienceCatalogId","in":"path","required":true,"description":"Unique identifier for the audience library","schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAudienceRequestBody"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAudienceResponseBody"}}}}},"summary":"Create Audience"}},"/profile-service/accounts/{accountId}/audience-catalogs/{audienceCatalogId}/audience-segments/{audienceId}":{"put":{"description":"Manage the Audience within catalog.\n\n\n**Sample request body**\n```json\n{\n  \"workspaceId\": 43672,\n  \"name\": \"Adults in Chicago\",\n  \"properties\": {\n    \"name\": \"Adults in Chicago\",\n    \"ageRangeMin\": 45,\n    \"ageRangeMax\": 60,\n    \"gender\": \"Male\",\n    \"preferences\": [\n      \"loves technology\", \"sports enthusiast\"\n    ],\n    \"spendingBehavior\": [\n      \"Luxury\",\n      \"Impulsive\"\n    ]\n  }\n}\n```","tags":["Audiences"],"operationId":"manageAudienceInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"audienceCatalogId","in":"path","required":true,"description":"Unique identifier for the audience library","schema":{"type":"integer"}},{"name":"audienceId","in":"path","required":true,"description":"Unique identifier for the audience","schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAudienceRequestBody"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAudienceResponseBody"}}}}},"summary":"Manage Audience"},"delete":{"description":"Deletes the given audience segment from audience catalog","tags":["Audiences"],"operationId":"deleteAudienceInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"audienceCatalogId","in":"path","required":true,"description":"Unique identifier for the audience library","schema":{"type":"integer"}},{"name":"audienceId","in":"path","required":true,"description":"Unique identifier for the audience","schema":{"type":"integer"}}],"responses":{"204":{"description":"No Content"}},"summary":"Delete Audience"}},"/workspace-resolver-service/accounts/{accountId}/libraries/sub-types/BRAND_KIT_LIBRARY":{"get":{"description":"This API endpoint lists all available Brand kits in the given team.","tags":["Brand Kits"],"operationId":"queryBrandsInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLibrariesResponseBody"}}}}},"summary":"List Brand Kits"}},"/workspace-resolver-service/accounts/{accountId}/libraries":{"post":{"description":"Create Brand-kit within the library\n\n**Sample request body**\n```json\n{\n  \"name\": \"Awesome Brand Kit\",\n  \"workspaceSubType\": \"BRAND_KIT_LIBRARY\"\n}\n```","tags":["Brand Kits"],"operationId":"createBrandKitInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"workspaceSubType":{"type":"string","default":"BRAND_KIT_LIBRARY"}}}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateLibraryResponseBody"}}}}},"summary":"Create Brand Kit"}},"/workspace-resolver-service/accounts/{accountId}/libraries/{brandKitId}":{"delete":{"tags":["Brand Kits"],"operationId":"deleteBrandKitInAccount","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"brandKitId","in":"path","required":true,"description":"Unique identifier for the specific brand-kit","schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"}},"summary":"Delete Brand Kit"}},"/profile-service/accounts/{accountId}/brand-kits/{brandKitId}/style-types/{styleType}":{"get":{"description":"This API endpoint lists all existing styles of given type (i.e. *Image / Text / Logo*) available in the given Brand Kit.","tags":["Brand Kits"],"operationId":"getStyleinBrandkit","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"brandKitId","in":"path","required":true,"description":"Unique identifier for the specific brand-kit","schema":{"type":"integer","format":"int64"}},{"name":"styleType","in":"path","required":true,"description":"Style type of the brand kit","schema":{"type":"string","enum":["image","text","logo"]}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryBrandKitStylesResponseBody"}}}}},"summary":"Get Brand-kit styles"},"post":{"description":"Create styles within the Brand kit for content genration\n\n**Sample request body for creating Image / Logo style**\n```json\n  {\n    \"name\": \"Bikes style\"\n  }\n```\n\n\n**Sample Request body for creating Text style**\n```json\n  {\n    \"name\": \"Text style\",\n    \"subType\": \"BrandVoice\",\n    \"data\": {\n        \"brandValues\": [\n            {\n                \"name\": \"Innovation\",\n                \"description\": \"We are committed to unlocking the power of technology to create personalized, on-brand images. Our innovative approach allows us to span diverse markets and significantly reduce production time.\"\n            },\n            {\n                \"name\": \"Efficiency\",\n                \"description\": \"We are dedicated to amplifying our content factory initiative. Our focus on efficiency enables us to streamline our processes and deliver high-quality results.\"\n            }\n        ],\n        \"brandTones\": [\n            {\n                \"name\": \"Strategic\",\n                \"description\": \"We are strategic in our ideation and refinement processes. Our focus on strategy ensures we deliver impactful and effective solutions.\"\n            },\n            {\n                \"name\": \"Empowering\",\n                \"description\": \"We believe in the power of our solutions to transform and scale content standards across organizations.\"\n            },\n            {\n                \"name\": \"Visionary\",\n                \"description\": \"From ideation to refinement, we are forward-thinking and innovative in our approach to content creation.\"\n            }\n        ],\n        \"brandRules\": [\n            {\n                \"type\": \"termsToAvoid\",\n                \"value\": [\n                    {\n                        \"source\": \"replace\",\n                        \"replacement\": \"\"\n                    },\n                    {\n                        \"source\": \"typeface\",\n                        \"replacement\": \"TypeFace AI\"\n                    }\n                ]\n            }\n        ]\n    }\n}\n```\n\n**Note**: Only 1 text style and logo style could be created for each Brand Kit","tags":["Brand Kits"],"operationId":"createStyleinBrandkit","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"brandKitId","in":"path","required":true,"description":"Unique identifier for the specific brand-kit","schema":{"type":"integer","format":"int64"}},{"name":"styleType","in":"path","required":true,"description":"Style type of the brand kit","schema":{"type":"string","enum":["image","text","logo"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBrandKitStyleRequestBody"}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EntityModelBrandKitStyle"}}}}},"summary":"Create Brand-kit style"}},"/profile-service/accounts/{accountId}/brand-kits/{brandKitId}/style-types/{styleType}/{styleId}/images":{"post":{"description":"This API allows you to upload image in the brand kit of given style type. There are two different options available to do so:\n  - `content`: The binary format content of image to be uploaded\n  - `contentUrl`: Publicly accessible url of the required image\n\n**Sample curl request**\n```bash\n  curl --silent --location 'https://api-us.typeface.ai/profile-service/accounts/accountId/brand-kits/brandKitId/style-types/image/styleType/images' \\\n  --header 'Authorization: Bearer <token>' \\\n  --form 'contentUrl=\"image url...\"'\n```\n\n**Note**: It is mandatory to train a Brand-kit image style before it can be utilized in content generation.","tags":["Brand Kits"],"operationId":"uploadImageInBrandKitStyle","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"brandKitId","in":"path","required":true,"description":"Unique identifier for the specific brand-kit","schema":{"type":"integer","format":"int64"}},{"name":"styleType","in":"path","required":true,"description":"Style type of the brand kit","schema":{"type":"string","enum":["image","logo"]}},{"name":"styleId","in":"path","required":true,"description":"Unique identifier for the specific brand-kit style","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/UploadImageToBrandKitStyleRequestBody"}}},"required":true},"responses":{"201":{"description":"Created"}},"summary":"Update or Manage Brand-kit style"}},"/profile-service/accounts/{accountId}/brand-kits/{brandKitId}/style-types/image/{styleId}/train":{"post":{"description":"This API enables you to train a Brand-kit image style, which can then be applied within content generation.\n\n**Sample Request Body**\n```json\n  {\n    \"notificationEmail\": \"user.email@test.in\"\n  }\n```\n\n**Note**: It is mandatory to train a Brand-kit image style before it can be utilized in content generation.","tags":["Brand Kits"],"operationId":"trainBrandKitImagestyle","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"brandKitId","in":"path","required":true,"description":"Unique identifier for the specific brand-kit","schema":{"type":"integer","format":"int64"}},{"name":"styleId","in":"path","required":true,"description":"Unique identifier for the specific brand-kit style","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["notificationEmail"],"properties":{"notificationEmail":{"type":"string"}}}}}},"responses":{"201":{"description":"Created"}},"summary":"Train Brand-kit image style"}},"/profile-service/accounts/{accountId}/tags":{"post":{"tags":["Tag Library"],"operationId":"createTags","description":"Creates one or more tags in a single request. Each tag in the request is processed independently, so some tags may succeed while others fail. The response contains a per-item result for every tag in the request, each marked with `success: true` or `success: false`.\n\nFor each tag, provide a `name` and `displayName`. Optionally include `parentId` to nest the tag under an existing parent, and `properties` to attach metadata such as `description`. Tags without a `parentId` are created as top-level tags.\n\nThe top-level `success` field in the response is `true` only when every tag was created successfully. If any tag fails, `success` is `false` (partial success).","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the account","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTagsRequestBody"},"examples":{"createTopLevelTags":{"summary":"Create top-level tags","value":{"tags":[{"name":"marketing","displayName":"Marketing","description":"Marketing related content"},{"name":"sales","displayName":"Sales","description":"Sales related content"}]}},"createChildTag":{"summary":"Create a child tag","value":{"tags":[{"name":"social_media","displayName":"Social Media","parentId":100,"description":"Social media related content"}]}}}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTagsResponseBody"},"examples":{"allSucceeded":{"summary":"All succeeded","value":{"success":true,"tags":[{"success":true,"tag":{"id":100,"name":"marketing","displayName":"Marketing","ref":"eyJhY2NvdW50...","parentId":null,"status":"ACTIVE","description":"Marketing related content","createdAt":"2026-01-15T10:00:00Z","modifiedAt":"2026-01-15T10:00:00Z","createdBy":"user-1","modifiedBy":"user-1"}},{"success":true,"tag":{"id":102,"name":"sales","displayName":"Sales","ref":"eyJhY2NvdW50...","parentId":null,"status":"ACTIVE","description":"Sales related content","createdAt":"2026-01-15T10:00:00Z","modifiedAt":"2026-01-15T10:00:00Z","createdBy":"user-1","modifiedBy":"user-1"}}]}},"partialSuccess":{"summary":"Partial success","value":{"success":false,"tags":[{"success":true,"tag":{"id":101,"name":"social_media","displayName":"Social Media","ref":"eyJhY2NvdW50...","parentId":100,"status":"ACTIVE","description":"Social media related content","createdAt":"2026-01-15T10:35:00Z","modifiedAt":"2026-01-15T10:35:00Z","createdBy":"user-1","modifiedBy":"user-1"}},{"success":false,"tag":{"name":"social_media","displayName":"Social Media"},"errorMessage":"Tag with name 'social_media' already exists in this account"}]}}}}}}},"summary":"Create Tags"}},"/search-service/accounts/{accountId}/tags":{"post":{"tags":["Tag Library"],"operationId":"searchTags","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the account","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchTagsRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchTagsResponseBody"}}}}},"summary":"Search Tags","description":"Search for tags within an account. Use this to browse the tag taxonomy, find tags by name, or list tags filtered by status.\n\n- **`query`** — Filters tags by name or display name. Searching for a parent tag also returns all of its descendants. When omitted or empty, all tags are returned.\n- **`status`** — Filters tags by status (`ACTIVE`, `INACTIVE`, `DEPRECATED`, `REJECTED`, `PENDING`). Defaults to `ACTIVE`. Set to `PENDING` to list newly discovered tag candidates awaiting review.\n- **`limit`** / **`cursor`** — Use cursor-based pagination for large result sets.\n\nEach tag in the response includes:\n- `fullPath` — a `::` delimited path of tag names from root to the tag (e.g., `marketing::social_media::instagram`).\n- `pathIds` — an ordered list of tag IDs matching each segment in `fullPath` (e.g., `[100, 101, 103]`).\n\nThese fields let you reconstruct the full hierarchy position of any tag.\n\nThe examples below assume a tag hierarchy: **Marketing > Social Media > Instagram**.\n\n#### List all active tags\n```json\n{\n  \"limit\": 20\n}\n```\n\n#### Response\n```json\n{\n  \"tags\": [\n    {\n      \"id\": 100,\n      \"name\": \"marketing\",\n      \"displayName\": \"Marketing\",\n      \"ref\": \"eyJhY2NvdW50...\",\n      \"parentId\": null,\n      \"status\": \"ACTIVE\",\n      \"description\": \"Marketing related content\",\n      \"fullPath\": \"marketing\",\n      \"pathIds\": [100],\n      \"createdAt\": \"2026-01-15T10:00:00Z\",\n      \"modifiedAt\": \"2026-01-15T10:00:00Z\",\n      \"createdBy\": \"user-1\",\n      \"modifiedBy\": \"user-1\"\n    },\n    {\n      \"id\": 101,\n      \"name\": \"social_media\",\n      \"displayName\": \"Social Media\",\n      \"ref\": \"eyJhY2NvdW50...\",\n      \"parentId\": 100,\n      \"status\": \"ACTIVE\",\n      \"description\": \"Social media related content\",\n      \"fullPath\": \"marketing::social_media\",\n      \"pathIds\": [100, 101],\n      \"createdAt\": \"2026-01-15T10:35:00Z\",\n      \"modifiedAt\": \"2026-01-15T10:35:00Z\",\n      \"createdBy\": \"user-1\",\n      \"modifiedBy\": \"user-1\"\n    },\n    {\n      \"id\": 103,\n      \"name\": \"instagram\",\n      \"displayName\": \"Instagram\",\n      \"ref\": \"eyJhY2NvdW50...\",\n      \"parentId\": 101,\n      \"status\": \"ACTIVE\",\n      \"description\": \"Instagram specific content\",\n      \"fullPath\": \"marketing::social_media::instagram\",\n      \"pathIds\": [100, 101, 103],\n      \"createdAt\": \"2026-01-16T09:00:00Z\",\n      \"modifiedAt\": \"2026-01-16T09:00:00Z\",\n      \"createdBy\": \"user-1\",\n      \"modifiedBy\": \"user-1\"\n    }\n  ],\n  \"nextCursor\": \".....\"\n}\n```\n\n#### Search for a tag and its descendants\nSearching for `Social Media` returns the matching tag and all tags nested under it (e.g., `Instagram`).\n```json\n{\n  \"query\": \"Social Media\",\n  \"limit\": 20\n}\n```\n\n#### Response\n```json\n{\n  \"tags\": [\n    {\n      \"id\": 101,\n      \"name\": \"social_media\",\n      \"displayName\": \"Social Media\",\n      \"ref\": \"eyJhY2NvdW50...\",\n      \"parentId\": 100,\n      \"status\": \"ACTIVE\",\n      \"description\": \"Social media related content\",\n      \"fullPath\": \"marketing::social_media\",\n      \"pathIds\": [100, 101],\n      \"createdAt\": \"2026-01-15T10:35:00Z\",\n      \"modifiedAt\": \"2026-01-15T10:35:00Z\",\n      \"createdBy\": \"user-1\",\n      \"modifiedBy\": \"user-1\"\n    },\n    {\n      \"id\": 103,\n      \"name\": \"instagram\",\n      \"displayName\": \"Instagram\",\n      \"ref\": \"eyJhY2NvdW50...\",\n      \"parentId\": 101,\n      \"status\": \"ACTIVE\",\n      \"description\": \"Instagram specific content\",\n      \"fullPath\": \"marketing::social_media::instagram\",\n      \"pathIds\": [100, 101, 103],\n      \"createdAt\": \"2026-01-16T09:00:00Z\",\n      \"modifiedAt\": \"2026-01-16T09:00:00Z\",\n      \"createdBy\": \"user-1\",\n      \"modifiedBy\": \"user-1\"\n    }\n  ],\n  \"nextCursor\": \".....\"\n}\n```\n\n#### List newly discovered tag candidates (pending review)\nTags with `PENDING` status are auto-discovered tags that have not yet been approved or rejected. Use this to power editorial review and governance workflows.\n```json\n{\n  \"status\": \"PENDING\",\n  \"limit\": 50\n}\n```\n\n#### Response\n```json\n{\n  \"tags\": [\n    {\n      \"id\": 215,\n      \"name\": \"bedroom_pop\",\n      \"displayName\": \"Bedroom Pop\",\n      \"ref\": \"eyJhY2NvdW50...\",\n      \"parentId\": 100,\n      \"status\": \"PENDING\",\n      \"description\": \"Lo-fi pop music produced in home studios\",\n      \"fullPath\": \"marketing::bedroom_pop\",\n      \"pathIds\": [100, 215],\n      \"createdAt\": \"2026-02-08T14:30:00Z\",\n      \"modifiedAt\": \"2026-02-08T14:30:00Z\",\n      \"createdBy\": \"user-1\",\n      \"modifiedBy\": \"user-1\"\n    }\n  ],\n  \"nextCursor\": \"cursor-abc123\"\n}\n```"}},"/profile-service/accounts/{accountId}/tags/{tagId}":{"get":{"tags":["Tag Library"],"operationId":"getTag","description":"Retrieves the full definition of a single tag by its ID. The response includes the tag's name, display name, status, parent reference, and description.","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the account","schema":{"type":"string"}},{"name":"tagId","in":"path","required":true,"description":"Unique identifier for the tag","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TagDetails"},"example":{"id":101,"name":"social_media","displayName":"Social Media","ref":"eyJhY2NvdW50SWQiOiJhY2NvdW50LTEiLCJlbnRpdHlJZCI6MTAxLCJ3b3Jrc3BhY2VJZCI6MSwid29ya3NwYWNlVHlwZSI6IkxJQlJBUlkiLCJlbnRpdHlUeXBlIjoiVEFHIiwidmVyc2lvbiI6IjIuMCJ9","parentId":100,"status":"ACTIVE","description":"Social media related content","createdAt":"2026-01-15T10:35:00Z","modifiedAt":"2026-01-15T10:35:00Z","createdBy":"user-1","modifiedBy":"user-1"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}}},"example":{"error":"Tag not found.","details":"Tag with id 999 not found in the account"}}}}},"summary":"Get Tag by ID"},"patch":{"tags":["Tag Library"],"operationId":"patchTag","description":"Partially updates an existing tag using JSON Patch-style operations. Supported paths are `/name`, `/displayName`, `/status`, and `/description`.\n\nCommon use cases include renaming a tag, deactivating it, updating its description, or approving / rejecting a pending tag candidate (set status to `ACTIVE` to approve, `REJECTED` to reject).","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the account","schema":{"type":"string"}},{"name":"tagId","in":"path","required":true,"description":"Unique identifier for the tag","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTagRequestBody"},"examples":{"renameDisplayName":{"summary":"Rename display name","value":{"operations":[{"op":"replace","path":"/displayName","value":"Social Media Ads"}]}},"renameName":{"summary":"Rename tag name","value":{"operations":[{"op":"replace","path":"/name","value":"social_media_ads"}]}},"changeStatus":{"summary":"Change status","value":{"operations":[{"op":"replace","path":"/status","value":"INACTIVE"}]}},"approveTag":{"summary":"Approve pending tag","value":{"operations":[{"op":"replace","path":"/status","value":"ACTIVE"}]}},"rejectTag":{"summary":"Reject pending tag","value":{"operations":[{"op":"replace","path":"/status","value":"REJECTED"}]}},"updateDescription":{"summary":"Update tag description","value":{"operations":[{"op":"replace","path":"/description","value":"Updated description for the tag"}]}}}}}},"responses":{"204":{"description":"No Content"},"400":{"description":"Bad Request – Validation failed","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}}},"examples":{"unsupportedOperation":{"summary":"Unsupported patch operation","value":{"error":"Unsupported patch operation.","details":"Only 'replace' operation is supported"}},"unsupportedPath":{"summary":"Unsupported patch path","value":{"error":"Unsupported patch path.","details":"Only '/name', '/displayName', '/status', and '/description' paths are supported"}}}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}}},"example":{"error":"Tag not found.","details":"Tag with id 999 not found in the account"}}}}},"summary":"Patch Tag"},"delete":{"tags":["Tag Library"],"operationId":"deleteTag","description":"Permanently deletes a tag and all of its child tags. Any assets that were tagged with the deleted tag will have that tag association removed.","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the account","schema":{"type":"string"}},{"name":"tagId","in":"path","required":true,"description":"Unique identifier for the tag to delete","schema":{"type":"integer","format":"int64"}}],"responses":{"204":{"description":"No Content"},"404":{"description":"Not Found","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"details":{"type":"string"}}},"example":{"error":"Tag not found.","details":"Tag with id 999 not found in the account"}}}}},"summary":"Delete Tag"}},"/batch-service/accounts/{accountId}/projects/{projectId}/generate":{"post":{"summary":"Generate Content","description":"**templates** is an Array of requests.\n\n**templateType**\n  Supported template types are:\n  - `simple_image` - More details are available [here](#simple-image)\n  - `simple_text` - More details are available [here](#simple-text)\n  - `email` - More details are available [here](#email)\n  - `email_subject` - More details are available [here](#email-subject)\n  - `instagram_ad` - More details are available [here](#instagram-post)\n  - `facebook_post` - More details are available [here](#facebook-post)\n  - `blog_post` - More details are available [here](#blog-post)\n  - `google_responsive_image_ad` - More details are available [here](#google-responsive-display-ad)\n  - `linkedin_image_post` - More details are available [here](#linkedin-social-post)\n  - `file_refiner` - More details are available [here](#doc-transform)\n  - `meta_ad_v2` - More details are available [here](#meta-ad)\n  - `email_sales` - More details are available [here](#sales-email)\n\n  Upcoming template types:\n  - `Web blend`\n  - `Google search`\n  - `Marketing email`\n  - `Press release`\n  - `Job description`\n  - `Text blend`\n  - ...\n\n:information_source: Maximum number of Image variations(`simple_image`) one can generate is capped at 4.\n\nThis API is asynchronous and returns immediately after accepting the request. You can use the `batchJobStatus` link for monitoring the status of the Generation Job.\n\nAn example of bulk generation is available [here](#bulk-generation) to generate multiple contents at once\n\n---\n## Simple Image\n**Sample Payload for Image gen**\n```json\n{\n  \"templates\": [\n    {\n      \"templateType\": \"simple_image\",\n      \"templateParams\": {\n        \"ImageDescription\": \"Prompt to Generate Image\",\n        \"VariationCount\": 2,\n        \"EnhancePrompt\": true,\n        \"AspectRatio\": \"banner_w2048_h512\"\n      }\n    }\n  ],\n  \"workflowName\": \"Generate First Image\",\n  \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.\n}\n```\n**Sample Response:**\n```json\n{\n  \"message\": \"Request initiated successfully\",\n  \"monitorId\": \"ed390b26-4d4f-4a27-a3f8-6225e9e84cdd\",\n  \"links\": [\n    {\n      \"rel\": \"batchJobStatus\",\n      \"href\": \"https://api-us.typeface.ai/batch-service/accounts/8f71f690-5404-4862-a3e4-0ebd6cfe6b88/projects/1/batch-jobs/ed390b26-4d4f-4a27-a3f8-6225e9e84cdd\"\n    }\n  ]\n}\n```\n\n**Notes:**\n\n`templateParams.ImageDescription` - Prompt for generating image\n\n`templateParams.VariationCount` - Number of variations to generate\n\n`templateParams.Layout` - **(Optional)** An identifier for a layout which can be used in *simple_image* template flow.\n\n**Layout** value can be obtained by making an API call to fetch Layout details, and capturing the `ref` field in response.  The API to fetch available layouts is documented [here](https://developers.typeface.ai/reference/querylayoutmanifestsinproject)\n\n`templateParams.Assets` - **(Optional)** A list of asset identifiers. For `simple_image` template flow, only a single image asset identifier is allowed.\n\n**Assets** value can be obtained by making an API call to fetch Asset details, and capturing the `ref` field in response.  The API to fetch available assets is documented [here](https://developers.typeface.ai/reference/queryassetsinproject)\n\n\n`templateParams.AudienceSegment` - **(Optional)** An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.EnhancePrompt` - true/false. Enhances the user prompt if specified as true.\n\n`templateparams.AspectRatio` - **(Optional)** Determines the aspect ratio for generated images. Allowed values are:\n-    `square_w768_h768` (Square 768x768)\n-    `square_w1024_h1024` (Square 1024x1024)\n-    `landscape_w768_h576` (Landscape 768x576)\n-    `landscape_w1024_h768` (Landscape 1024x768)\n-    `portrait_w576_h768` (Portrait 576x768)\n-    `portrait_w768_h1024` (Portrait 768x1024)\n-    `widescreen_w1024_h576` (Widescreen 1024x576)\n-    `banner_w2048_h512` (Banner 2048x512)\n\n**Note**:  `AspectRatio` should not be used in conjunction with `Layout` field. To define the  aspect ratio with a Logo, the desired aspect ratio can be added via the typeface.ai Web User Interface.\n\n`workflowName` - This will be deprecated, for now flow any label/random number.\n\n`requestContext` - Any additional information (JSON) client wants to receive as part of polling API response.\n\n---\n## Simple Text\n**Sample Payload for Text gen**\n```json\n{\n  \"templates\": [\n    {\n      \"templateType\": \"simple_text\",\n      \"templateParams\": {\n        \"Prompt\": \"Prompt to Generate Text\"\n      }\n    }\n  ],\n  \"workflowName\": \"Generate First Text\",\n  \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.\n}\n\n```\n**Sample Response:**\n```json\n{\n  \"message\": \"Request initiated successfully\",\n  \"monitorId\": \"ed390b26-4d4f-4a27-a3f8-6225e9e84cdd\",\n  \"links\": [\n    {\n      \"rel\": \"batchJobStatus\",\n      \"href\": \"https://api-us.typeface.ai/batch-service/accounts/8f71f690-5404-4862-a3e4-0ebd6cfe6b88/projects/1/batch-jobs/ed390b26-4d4f-4a27-a3f8-6225e9e84cdd\"\n    }\n  ]\n}\n```\n**Notes:**\n\n`templateParams.AudienceSegment` - **(Optional)** An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n---\n## Email\n**Sample Payload for Email**\n```json\n{\n  \"templates\": [\n    {\n      \"templateType\": \"email\",\n      \"templateParams\": {\n        \"Purpose\": \"recruit for a new role\",\n        \"Context\": \"I am recruiting for a senior marketing manager role for my company\",\n        \"FollowUpResponse\": \"share what time they are available for a meeting\"\n      }\n    }\n  ],\n  \"workflowName\": \"Generate an Email\",\n  \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.\n}\n```\n**Notes:**\n\n`templateParams.Purpose` - The main objective or reason for sending the email. This could be to inform, request information, follow up on a previous conversation, schedule a meeting, confirm details, or provide updates.\n\n`templateParams.Context` - The background information and circumstances related to the email. This includes any relevant details that help the recipient understand the reason for the email and its importance.\n\n`templateParams.FollowUpResponse` - The anticipated or requested action that the recipient should take after reading the email. This could be replying with specific information, confirming receipt, providing feedback, scheduling a meeting, or any other response that moves the conversation or process forward.\n\n`templateParams.Assets` - **(Optional)** A list of asset identifiers. For `email` template flow, only file asset identifiers are allowed.\n\n**Assets** value can be obtained by making an API call to fetch Asset details, and capturing the `ref` field in response.  The API to fetch available assets is documented [here](https://developers.typeface.ai/reference/queryassetsinproject)\n\n`templateParams.AudienceSegment` - **(Optional)** An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n---\n## Email Subject\n**Sample Payload for Email Subject**\n```json\n{\n  \"templates\": [\n    {\n      \"templateType\": \"email_subject\",\n      \"templateParams\": {\n        \"Purpose\": \"Recruiting email for a new role\",\n        \"Context\": \"I am recruiting for a senior marketing manager role for my company\"\n      }\n    }\n  ],\n  \"workflowName\": \"Generate Email Subject Line\",\n  \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.\n}\n```\n**Notes:**\n\n`templateParams.Purpose` - The main objective or reason behind the email. The subject line should clearly reflect the intent of the email, whether it's to inform, request, confirm, invite, or follow up.\n\n`templateParams.Context` - The background or relevant information that provides additional clarity or specificity to the subject line. This helps the recipient understand the importance or urgency of the email.\n\n`templateParams.AudienceSegment` - **(Optional)** An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n---\n## Instagram Post\n**Sample Payload for Instagram Post**\n```json\n{\n  \"templates\": [\n    {\n      \"templateType\": \"instagram_ad\",\n      \"templateParams\": {\n        \"Goal\": \"More profile visits\",\n        \"Topic\": \"promote apple juice\",\n        \"ImageDescription\": \"A glass of apple juice on sandy dunes with cocunut and palm trees\",\n        \"EnhancePrompt\": true\n      }\n    }\n  ],\n  \"workflowName\": \"Generate Instagram Post\",\n  \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.\n}\n```\n**Notes:**\n\n`templateParams.Goal` - The main objective you want to achieve with the Instagram post. This could be increasing brand awareness, driving traffic, promoting a product, engaging with followers, or growing your audience.\n\n`templateParams.Topic` - The central theme or subject matter of the post such as a product feature, an event, a behind-the-scenes look, a customer testimonial, or an industry trend.\n\n`templateParams.ImageDescription` - A brief explanation or caption of the image being posted. This should provide context to the image, convey the message you want to share, and enhance the viewer's understanding and engagement.\n\n`templateParams.EnhancePrompt` - true/false. Enhances the user prompt if specified as true.\n\n\n`templateParams.Assets` - **(Optional)** A list of asset identifiers. For `instagram_ad` template flow, only a single image asset identifier is allowed.\n\n**Assets** value can be obtained by making an API call to fetch Asset details, and capturing the `ref` field in response.  The API to fetch available assets is documented [here](https://developers.typeface.ai/reference/queryassetsinproject)\n\n\n`templateParams.AudienceSegment` - **(Optional)** An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n---\n## Facebook Post\n**Sample Payload for Facebook Post**\n```json\n{\n  \"templates\": [\n    {\n      \"templateType\": \"facebook_post\",\n      \"templateParams\": {\n        \"Goal\": \"Get more visits\",\n        \"Details\": \"The partnership makes it possible for clients to adopt Generative AI technologies to further enhance critical aspects of operationalizing their people strategies, form creating job descriptions that support role clarity and unbiased hiring to crafting employee communications that reach distributed workforces and driven program enhancement.\",\n        \"CTA\": \"Read more today\"\n      }\n    }\n  ],\n  \"workflowName\": \"Generate Facebook Post\",\n  \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.\n}\n```\n**Notes:**\n\n`templateParams.Goal` - The primary purpose or objective you want to achieve. This could be increasing engagement, driving traffic to a website, promoting a product or service, gathering leads, announcing an event, or fostering community interaction.\n\n`templateParams.Details` - The specific information and content included in the post. This encompasses the main text, any relevant facts, data, or explanations that support the post's message, as well as any media like images, videos, or links.\n\n`templateParams.CTA` - A directive or prompt in the post encouraging viewers to take a specific action. This could be asking them to like, share, or comment on the post, visit a website, sign up for a newsletter, attend an event, or make a purchase.\n\n`templateParams.AudienceSegment` - **(Optional)** An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit) ---\n## Blog Post\n**Sample Payload for Blog Post**\n```json\n{\n  \"templates\": [\n      {\n          \"templateType\": \"blog_post\",\n          \"templateParams\": {\n              \"Name\": \"The benefits of Generative AI technology in marketing\",\n              \"Content\": \"Describe the benefits of Generative AI, and how the technology has re-shaped the marketing industry. Include facts and tips on how a organization can join the AI revolution\",\n              \"ImageDescription\": \"A person in front of a computer, office sitting, highly detailed, warm tones\"\n          }\n      }\n  ],\n  \"workflowName\": \"Simple Blog Post\",\n  \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.  \n}\n```\n**Notes:**\n\n`templateParams.Name` - It is a concise phrase or sentence that captures the essence of the blog's topic and grabs the reader's attention.\n\n`templateParams.Content` - The content is the core of the blog post. It provides readers with valuable information, insights, or entertainment. Quality content helps to engage readers, rank higher in search engines, and build credibility in your niche.\n\n`templateParams.ImageDescription` - This field allows the user to provide a detailed description of any images used in the blog post. The description should include the visual content, purpose, and context of the image.\n\n\n`templateParams.AudienceSegment` - **(Optional)** An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n---\n## Google Responsive Display Ad\n**Sample Payload for Google Responsive Display Ad**\n```json\n  {\n      \"templates\": [\n          {\n              \"templateType\": \"google_responsive_image_ad\",\n              \"templateParams\": {\n                  \"Goal\": \"leads\",\n                  \"AudienceSegment\": \"eyJhY.....LCJlbnRpdHl....AifQ=\",\n                  \"BusinessName\": \"Indian Premier League\",\n                  \"DisplayURL\": \"www.ipl.co.in\",\n                  \"Summary\": \"Chennai super kings won the last IPL\",\n                  \"NumberOfHeadlines\": 11,\n                  \"NumberOfLongHeadline\": 2,\n                  \"NumberOfDescriptions\": 4,\n                  \"ImageDescription\": \"A glass of apple juice on sandy dunes with cocunut and palm trees\",\n                  \"EnhancePrompt\": true\n              }\n          }\n      ],\n      \"workflowName\": \"Simple Google Responsive Ad\",\n      \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.  \n  }\n```\n**Notes:**\n\n`templateParams.Goal` - The primary objective of the ad, such as increasing brand awareness, driving website traffic, or generating leads.\n\n`templateParams.AudienceSegment` - An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BusinessName` - The name of your business as it should appear in the ad, ensuring brand recognition.\n\n`templateParams.DisplayURL` - The web address that will appear in the ad, directing users to your landing page.\n\n`templateParams.Summary` - Describe your product or services.\n\n`templateParams.NumberOfHeadlines` - **(Optional)** An identifier for number of headlines to be generated for google responsive display ad. Default value is 11.\n\n`templateParams.NumberOfLongHeadline` - **(Optional)** An identifier for number of long headlines to be generated for google responsive display ad. Default value is 2.\n\n`templateParams.NumberOfDescriptions` - **(Optional)** An identifier for number of descriptions to be generated for google responsive display ad. Default value is 4.\n\n`templateParams.ImageDescription` - This field allows the user to provide a detailed description of any images used in the ad. The description should include the visual content, purpose, and context of the image.\n\n`templateParams.Assets` - **(Optional)** A list of asset identifiers. For `google_responsive_image_ad` template flow, only a single image asset identifier is allowed.\n\n**Assets** value can be obtained by making an API call to fetch Asset details, and capturing the `ref` field in response.  The API to fetch available assets is documented [here](https://developers.typeface.ai/reference/queryassetsinproject)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n---\n## LinkedIn Social Post\n**Sample Payload for LinkedIn Social Post**\n```json\n  {\n      \"templates\": [\n          {\n              \"templateType\": \"linkedin_image_post\",\n              \"templateParams\": {\n                  \"Goal\": \"Announce our latest partnership with a leading PEO\",\n                  \"ContentText\": \"The partnership makes it possible for clients to adopt Generative AI technologies to further enhance critical aspects of operationalizing their people strategies, from creating job descriptions that support role clarity and unbiased hiring to crafting employee communications that reach distributed workforces and drive program engagement.\",\n                  \"DescribeScene\": \"Winding roads at sunset\",\n                  \"AspectRatio\" : \"Square\",\n              }\n          }\n      ],\n      \"workflowName\": \"LinkedIn Social Post\",\n      \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.  \n  }\n```\n**Notes:**\n\n`templateParams.Goal` - The main objective you want to achieve with the LinkedIn Social Post. This could be increasing brand awareness, driving traffic, promoting a product, engaging with followers, or growing your audience.\n\n`templateParams.ContentText` - The central theme or subject matter of the post such as a product feature, an event, a behind-the-scenes look, a customer testimonial, or an industry trend.\n\n`templateParams.CTAUrl` - **(Optional)** A directive or prompt in the post encouraging viewers to take a specific action. This could be asking them to like, share, or comment on the post, visit a website, sign up for a newsletter, attend an event, or make a purchase.\n\n`templateParams.DescribeScene` - A brief explanation or caption of the image being posted. This should provide context to the image, convey the message you want to share, and enhance the viewer's understanding and engagement.\n\n`templateParams.Assets` - **(Optional)** A list of asset identifiers. For `linkedin_image_post` template flow, only a single image asset identifier is allowed.\n\n\n **Assets** value can be obtained by making an API call to fetch Asset details, and capturing the `ref` field in response. \n The API to fetch available assets is documented [here](https://developers.typeface.ai/reference/queryassetsinproject)\n\n\n\n`templateParams.AspectRatio` - Determines the aspect ratio for generated images.\nAllowed values are:\n-    `Square`\n\n-    `Portrait`\n-    `Landscape`\n\n\n`templateParams.AudienceSegment` - **(Optional)** An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n---\n## Doc transform\n**Sample Payload for Doc transform**\n```json\n  {\n      \"templates\": [\n          {\n              \"templateType\": \"file_refiner\",\n              \"templateParams\": {\n                  \"Action\": \"rewrite\",\n                  \"Assets\":[ \"eyJhY.....LCJlbnRpdHl....AifQ=\"]\n              }\n          }\n      ],\n      \"workflowName\": \"Doc transform\",\n      \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.  \n  }\n```\n**Notes:**\n\n`templateParams.Action` - The primary action you intend to execute through the document transformation. This could involve summarizing the content, refining it into a blog post, crafting a sales email, condensing it into a brief social post, or converting it into a newsletter.\n\n`templateParams.Assets` - A list of asset identifiers. For `file_refiner` template flow, only file asset identifiers are allowed.\n\n\n **Assets** value can be obtained by making an API call to fetch Asset details, and capturing the `ref` field in response. \n The API to fetch available assets is documented [here](https://developers.typeface.ai/reference/queryassetsinproject)\n\n\n\n`templateParams.AudienceSegment` - **(Optional)** An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n---\n## Meta Ad\n**Sample Payload for Meta Ad**\n```json\n  {\n      \"templates\": [\n          {\n              \"templateType\": \"meta_ad_v2\",\n              \"templateParams\": {\n                  \"Goal\": \"sales\",\n                  \"AdType\": \"carousel_ad\",\n                  \"BusinessName\": \"Cecilié Apple Juice\",\n                  \"DisplayURL\": \"www.cecilie.com\",\n                  \"ProductName\": \"Apple juice for healthy minded people\",\n                  \"AudienceSegment\":\"eyJhY.....LCJlbnRpdHl....AifQ=\",\n              }\n          }\n      ],\n      \"workflowName\": \"Meta ad\",\n      \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.  \n  }\n```\n**Notes:**\n\n`templateParams.Goal` - The primary objective of the ad, such as increasing brand awareness, driving website traffic, generating leads, boosting sales, promoting app downloads, or encouraging engagement.\n\n`templateParams.AdType` - The format of the ad, such as a single image ad, a carousel with multiple images, or a collection showcasing multiple products. \n\n  Possible values are: \n  * `single_image_ad`\n\n  * `carousel_ad`\n\n  * `collection_ad`\n\n\n\n`templateParams.BusinessName` - The name of your business as it should appear in the ad, ensuring brand recognition.\n\n`templateParams.DisplayURL` - The web address that will appear in the ad, directing users to your landing page.\n\n`templateParams.ProductName` - Describe your product to help create a compelling and targeted ad.\n\n`templateParams.AudienceSegment` - An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n---\n## Sales Email\n**Sample Payload for Sales Email**\n```json\n{\n  \"templates\": [\n    {\n      \"templateType\": \"email_sales\",\n      \"templateParams\": {\n        \"Purpose\": \"Promote new product features to increase engagement.\",\n        \"Context\": \"Follow-up on previous interest in our services.\",\n        \"FollowUpResponse\": \"Schedule a call or provide feedback.\"\n      }\n    }\n  ],\n  \"workflowName\": \"Generate Sales Email.\",\n  \"requestContext\": {} // You can flow any context information that you want to find in the Monitor API response.\n}\n```\n**Notes:**\n\n`templateParams.Purpose` - The primary objective of the email, such as promoting a new product, driving engagement, or generating leads.\n\n`templateParams.Context` - **(Optional)** The background information and circumstances related to the sales email. This includes any relevant details that help the recipient understand the reason for the email.\n\n`templateParams.FollowUpResponse` - **(Optional)** The action you want the recipient to take, such as scheduling a call, requesting details, or confirming interest.\n\n`templateParams.Assets` - **(Optional)** A list of asset identifiers. For `email_sales` template flow, only file asset identifiers are allowed.\n\n**Assets** value can be obtained by making an API call to fetch Asset details, and capturing the `ref` field in response.  The API to fetch available assets is documented [here](https://developers.typeface.ai/reference/queryassetsinproject)\n\n`templateParams.AudienceSegment` - **(Optional)** An identifier for audience to generate personalized content for specific users.\n\n**AudienceSegment** value can be obtained by making an API call to list Audiences, and capturing the `ref` field in response. The API to fetch available audiences is documented [here](https://developers.typeface.ai/reference/queryaudiencesinaccount)\n\n`templateParams.BrandKitImageStyle` - **(Optional)** An identifier for image style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitImageStyle** value can be obtained by making an API call to fetch Brand Kit image style details, and capturing the `ref` field in response.  The API to fetch available image styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n`templateParams.BrandKitTextStyle` - **(Optional)** An identifier for text style in Brand Kit to generate personalized content for specific brands.\n\n**BrandKitTextStyle** value can be obtained by making an API call to fetch Brand Kit text style details, and capturing the `ref` field in response.  The API to fetch available text styles is documented [here](https://developers.typeface.ai/reference/getstyleinbrandkit)\n\n---\n## Bulk Generation\n**Sample request body for Bulk Generation**\n```json\n{\n  \"templates\": [\n      {\n          \"templateType\": \"simple_image\",\n          \"templateParams\": {\n              \"ImageDescription\": \"A person resting on a sunny beach with shades, highly detailed view\",\n              \"AspectRatio\": \"widescreen_w1024_h576\",\n              \"EnhancePrompt\": true\n          }\n      },\n      {\n          \"templateType\": \"simple_image\",\n          \"templateParams\": {\n              \"ImageDescription\": \"A highly attractive beach with clear ocean water and people playing volleyball, highly detailed sand dunes\",\n              \"AspectRatio\": \"square_w768_h768 \",\n              \"EnhancePrompt\": true\n          }\n      },\n      {\n          \"templateType\": \"facebook_post\",\n          \"templateParams\": {\n              \"Goal\": \"Get more engagement\",\n              \"Details\": \"The partnership makes it possible for clients to adopt Generative AI technologies to further enhance critical aspects of operationalizing their people strategies, form creating job descriptions that support role clarity and unbiased hiring to crafting employee  communications that reach distributed workforces and driven program enhancement.\",\n              \"CTA\": \"Read more today\"\n          }\n      }\n  ],\n  \"workflowName\": \"Simple Bulk Generation\",\n  \"requestContext\": {}\n}\n```","tags":["Content Generation"],"parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["templates","workspaceId","requestContext"],"properties":{"templates":{"type":"array","items":{"type":"object","properties":{"templateType":{"type":"string"},"templateParams":{"type":"object","properties":{"ImageDescription":{"type":"string"},"VariationCount":{"type":"integer"},"EnhancePrompt":{"type":"boolean"},"AspectRatio":{"type":"string"}}}}}},"workspaceId":{"type":"string"},"workflowName":{"type":"string"},"requestContext":{"type":"object"}}}}}},"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"monitorId":{"type":"string"},"links":{"type":"array","items":{"type":"object","properties":{"rel":{"type":"string"},"href":{"type":"string"}}}}}}}}}}}},"/batch-service/accounts/{accountId}/projects/{projectId}/batch-jobs/{monitorId}":{"get":{"summary":"Poll Generation Job Status","description":"**Sample Response**\n\nBased on how many requests batched in the Generation API call, those many `jobStepResponses` will be returned.\n\nEach one contains `documentMetadata` object with an `id`. This document corresponds to the response for each of the request in the batch. Use `documentMetadata.id` as `documentId` while making subsequent call to fetch the generated content.\n\n```json\n{\n    \"job\": {\n        \"jobId\": \"2bd1365a-ac4b-4224-bf97-dd0c4a8c91e9\",\n        \"name\": \"Generate First Image\",\n        \"projectId\": \"243056\",\n        \"status\": \"SUCCEEDED\",\n        \"createdAt\": \"2024-03-28T20:47:32+05:30\",\n        \"startedAt\": \"2024-03-28T20:47:32+05:30\",\n        \"completedAt\": \"2024-03-28T20:48:26+05:30\",\n        \"jobStepResponses\": [\n            {\n                \"status\": \"SUCCEEDED\",\n                \"documentMetadata\": {\n                    \"id\": 46,\n                    \"name\": \"simple_image_0\"\n                }\n            }\n        ]\n    },\n    \"links\": [\n        {\n            \"rel\": \"self\",\n            \"href\": \"https://api-us.typeface.ai/batch-service/accounts/5d903776-016a-4f1d-814d-71d44a88ebd3/projects/243056/batch-jobs/2bd1365a-ac4b-4224-bf97-dd0c4a8c91e9\"\n        }\n    ]\n}\n```","tags":["Content Generation"],"parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}},{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"string"}},{"name":"monitorId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"job":{"type":"object","properties":{"jobId":{"type":"string"},"name":{"type":"string"},"jobStepResponses":{"type":"array","items":{"type":"object","properties":{"status":{"type":"string"},"documentMetadata":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}}}}}}}}}}}}}}},"/content-service/workspace/{projectId}/documents/{documentId}/read-only":{"get":{"tags":["Content Generation"],"operationId":"getReadOnlyDocument","parameters":[{"name":"projectId","in":"path","required":true,"description":"Unique identifier for the specific project","schema":{"type":"integer","format":"int64"}},{"name":"documentId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/vnd.typeface.documents.blocks.v2+json":{"schema":{"$ref":"#/components/schemas/GetReadOnlyDocumentResponseBody"}}}}},"summary":"Get Generated Content","description":"Retrieve generated content using this API. Response contains array of blocks and each block corresponds to a content fragment. For simple text and image, there will be only one block. Each block has `type` which indicates the content type and `variations` generated."}},"/search-service/accounts/{accountId}/all-assets":{"post":{"tags":["Digital Assets"],"operationId":"searchAssets","parameters":[{"name":"accountId","in":"path","required":true,"description":"Unique identifier for the specific team","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchAssetsRequestBody"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchAssetsResponseBody"}}}}},"summary":"Search Assets","description":"A unified API to search for assets within a team (and Organization) using various filters.\n\nThis API serves as both listing and search endpoint, listing behavior will return results immediately while search behaviour\nreturns results in a eventual consistent manner, waits for the results to be indexed. Simillarly the updates and deletes are \nalso eventually consistent.\n\n\nAsset sub types for mapped are as follows\n| General Usage | Asset Sub Type |\n|---|---|\n| Uploaded Image | IMAGE |\n| Generated Image | GENERATED_IMAGE |\n| Uploaded File | FILE |\n| Generated Document | GENERATED_DOCUMENT |\n\n**Notes:**\n- To retrive SVG images along with other images pass mediaType in the payload with \n  value of `[\"DEFAULT\", \"GRAPHIC_SVG\"]`\n\n#### Sample Image search request payload with both query and tags filtering\n```json\n{\n  \"query\": \"A red car on the beachside\",\n  \"assetType\": \"IMAGE\",\n  \"assetSubTypes\": [\"IMAGE\", \"GENERATED_IMAGE\"],\n  \"tags\": [\"vacation\", \"beach\"],\n  \"limit\": 20,\n  \"cursor\": \".....\",\n  \"mediaTypes\": [\"DEFAULT\", \"GRAPHIC_SVG\"]\n}\n```\n\n\n\n#### Sample image search response\n```json\n{\n  \"assets\": [\n    {\n      \"id\": 9192636,\n      \"name\": \"Red Car Beachside.png\",\n      \"assetType\": \"IMAGE\",\n      \"subType\": \"IMAGE\",\n      \"workspaceId\": 315726,\n      \"workspaceType\": \"ASSET_CATALOG\",\n      \"accountId\": \"1f04d7c6-05b2-4623-9fc4-26edb1d076d4\",\n      \"createdAt\": \"2025-06-18T02:11:45Z\",\n      \"modifiedAt\": \"2025-06-18T02:11:45Z\",\n      \"createdBy\": \"f90cffca-819e-49ae-8616-550bb7b46392\",\n      \"modifiedBy\": \"f90cffca-819e-49ae-8616-550bb7b46392\",\n      \"links\": [\n      {\n          \"rel\": \"download\",\n          \"href\": \"https://deveu2su1sawebapi1000.blob.core.windows.net/blob-persistent-zone/eba343c2-5097-46ff-be0d-bb8147abfbde?sv=2021-08-06&spr=https&se=2025-12-17T13%3A43%3A27Z&sr=b&sp=r&sig=vto8SffoTFib3Le4sRKetscF0I9atCWTjXyAzbHBRJg%3D&rscc=max-age%3D603000%2C%20private\"\n      },\n      {\n          \"rel\": \"thumbnail\",\n          \"href\": \"https://deveu2su1renditionsa1000.blob.core.windows.net/rendition-blob-storage/eba343c2-5097-46ff-be0d-bb8147abfbde_230_230?sv=2021-08-06&spr=https&se=2025-12-17T13%3A43%3A28Z&sr=b&sp=r&sig=i5GEY8o%2FtLX25HynTyvusC1ngXrgGl2ESvJO7rnZRUE%3D&rscc=max-age%3D603000%2C%20private\"\n      },\n      {\n          \"rel\": \"self\",\n          \"href\": \"https://api-dev-us.typeface.ai/profile-service/accounts/1f04d7c6-05b2-4623-9fc4-26edb1d076d4/asset-catalogs/315726/assets/9192636\"\n      },\n      {\n          \"rel\": \"metadata\",\n          \"href\": \"https://api-dev-us.typeface.ai/profile-service/accounts/1f04d7c6-05b2-4623-9fc4-26edb1d076d4/asset-catalogs/315726/assets/9192636/metadata\"\n      }\n      ],\n      \"ref\": \"eyJhY2NvdW50SWQiOiIxZjA0ZDdjNi0wNWIyLTQ2MjMtOWZjNC0yNmVkYjFkMDc2ZDQiLCJlbnRpdHlJZCI6OTE5MjYzNiwid29ya3NwYWNlSWQiOjMxNTcyNiwid29ya3NwYWNlVHlwZSI6IkFTU0VUX0NBVEFMT0ciLCJlbnRpdHlUeXBlIjoiQVNTRVQiLCJ2ZXJzaW9uIjoiMi4wIiwicHJvcGVydGllcyI6eyJpbWFnZUlkIjo5MTkyNjM1fX0=\",\n      \"isOrgAsset\": false\n    }  \n  ],\n  \"nextCursor\": \".....\"\n}\n```\n\n#### Sample image search payload with search query\n```json\n{\n  \"query\": \"A scenic view of mountains during sunrise\",\n  \"assetType\": \"IMAGE\",\n  \"assetSubTypes\": [\"IMAGE\", \"GENERATED_IMAGE\"],\n  \"limit\": 20,\n  \"cursor\": \".....\",\n  \"coll
[...]
