{"openapi":"3.0.3","info":{"title":"Content Workflow","description":"This template will guide you through the API endpoints to get workflows, get workflow steps, apply workflow to document, update document workflow status, update document workflow, update document assignees.","version":"1.0.0","contact":{}},"servers":[{"url":"https://api-us.typeface.ai"}],"paths":{"/profile-service/accounts/{accountId}/workflows":{"get":{"summary":"Get Workflows","description":"Retrieve the list of workflows associated with a specific account.","operationId":"getWorkflows","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of workflows associated with the account.","content":{"application/json":{"schema":{"type":"object","properties":{"workflows":{"type":"array","items":{"$ref":"#/components/schemas/EntitySchema"}}}}}}}},"security":[{"bearerAuth":[]}]}},"/profile-service/accounts/{accountId}/workflows/{workflowId}/workflow-steps":{"get":{"summary":"Get Workflow Steps","description":"Retrieve the steps/statuses of a specific workflow.","operationId":"getWorkflowsSteps","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"}},{"name":"workflowId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"A list of steps/statuses in the specified workflow.","content":{"application/json":{"schema":{"type":"object","properties":{"workflowSteps":{"type":"array","items":{"$ref":"#/components/schemas/EntitySchema"}}}}}}}},"security":[{"bearerAuth":[]}]}},"/content-service/accounts/{accountId}/projects/{projectId}/documents/{documentId}/assignees":{"get":{"summary":"Get Document Assignees","description":"Retrieve the list of assignees for a specific document.","operationId":"getDocumentAssignees","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the account"},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the project"},{"name":"documentId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the document"}],"responses":{"200":{"description":"A list of user details for the assignees of the document.","content":{"application/json":{"schema":{"type":"object","properties":{"assignees":{"type":"array","items":{"$ref":"#/components/schemas/Assignee"}}}}}}},"401":{"description":"Unauthorized access"},"404":{"description":"Document not found"}},"security":[{"bearerAuth":[]}]},"put":{"summary":"Update Document Assignees","description":"Update (add or remove) the assignees for a document.","operationId":"updateDocumentAssignees","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the account"},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the project"},{"name":"documentId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the document"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"assigneesToAdd":{"type":"array","items":{"type":"string","example":"add.user@typeface.ai"},"example":["add.user@typeface.ai"]},"assigneesToRemove":{"type":"array","items":{"type":"string","example":"remove.user@narrato.io"},"example":["remove.user@narrato.io"]}},"required":["assigneesToAdd","assigneesToRemove"]},"examples":{"Update document assignees":{"value":{"assigneesToAdd":["add.user@typeface.ai"],"assigneesToRemove":["remove.user@narrato.io"]}}}}}},"responses":{"204":{"description":"Successfully updated document assignees"},"400":{"description":"Bad Request - Invalid input data"},"401":{"description":"Unauthorized access"},"404":{"description":"Document not found"}},"security":[{"bearerAuth":[]}]}},"/content-service/accounts/{accountId}/projects/{projectId}/documents/{documentId}/workflow":{"post":{"summary":"Add Document Workflow","description":"Associate a content workflow with a document.","operationId":"addDocumentWorkflow","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the account"},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the project"},{"name":"documentId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the document"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"workflowId":{"type":"number","example":123}},"required":["workflowId"]},"examples":{"Add document workflow":{"value":{"workflowId":124}}}}}},"responses":{"200":{"description":"Successfully added the document workflow"},"201":{"description":"Successfully created the document workflow"},"400":{"description":"Bad Request - Invalid input data"},"401":{"description":"Unauthorized access"},"404":{"description":"Document not found / The specified workflow could not be found"},"409":{"description":"Workflow already attached to the document"}},"security":[{"bearerAuth":[]}]},"patch":{"summary":"Update Document Workflow and/or Status","description":"Update the workflow and/or status associated with a document.","operationId":"updateDocumentWorkflowStatusCopy","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the account"},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the project"},{"name":"documentId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the document"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"statusId":{"type":"number","example":123},"workflowId":{"type":"number","example":124}},"required":["statusId","workflowId"]},"examples":{"Update document workflow / status Copy":{"value":{"statusId":123,"workflowId":124}}}}}},"responses":{"200":{"description":"Successfully updated the document workflow/status"},"204":{"description":"No content - Successfully updated but no content returned"},"400":{"description":"Bad Request - Invalid input data"},"401":{"description":"Unauthorized access"},"404":{"description":"Document not found / The specified workflow or status could not be found"}},"security":[{"bearerAuth":[]}]}},"/content-service/workspace/{projectId}/documents":{"post":{"summary":"Create Document with a Workflow","description":"Create a new document and attach a content workflow to it.","operationId":"createDocument","parameters":[{"name":"projectId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the project"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"Hello!"},"properties":{"type":"object","properties":{"blocks":{"type":"array","items":{"type":"object","properties":{"content":{"type":"string","example":"This content"},"id":{"type":"string","example":"xDH0Uj3128"},"promptId":{"type":"string","example":""},"styleElements":{"type":"object","properties":{}},"type":{"type":"string","example":"Text"}}},"example":[{"content":"This content","id":"xDH0Uj3128","promptId":"","styleElements":{},"type":"Text"},{"content":"has been \n\nadded while document creation through API!","id":"mkbleHO326","promptId":"","styleElements":{},"type":"Text"}]},"prompts":{"type":"array","items":{},"example":[]},"status":{"type":"string","example":"COMPLETED"},"variations":{"type":"array","items":{},"example":[]}}},"workflowIdToAttach":{"type":"number","example":123}}},"examples":{"Create document":{"value":{"name":"Hello!","properties":{"blocks":[{"content":"This content","id":"xDH0Uj3128","promptId":"","styleElements":{},"type":"Text"},{"content":"has been \n\nadded while document creation through API!","id":"mkbleHO326","promptId":"","styleElements":{},"type":"Text"}],"prompts":[],"status":"COMPLETED","variations":[]},"workflowIdToAttach":123}}}}}},"responses":{"201":{"description":"Successfully created the document and attached the workflow"},"400":{"description":"Bad Request - Invalid input data"},"401":{"description":"Unauthorized access"},"404":{"description":"Project not found"}},"security":[{"bearerAuth":[]}]}},"/basic-services/document-export-service/accounts/{accountId}/workspaces/{projectId}/document/{documentId}/export/pdf":{"get":{"summary":"Get Document Content in PDF","description":"Retrieve a document's content in PDF format.","operationId":"getDocumentPdf","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the account"},{"name":"projectId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the workspace/project"},{"name":"documentId","in":"path","required":true,"schema":{"type":"string"},"description":"The unique ID of the document"}],"responses":{"200":{"description":"Successfully retrieved the PDF document","content":{"application/pdf":{"schema":{"type":"string","format":"byte"}}}},"400":{"description":"Bad Request - Invalid input data"},"401":{"description":"Unauthorized - Authentication failed"},"404":{"description":"Document not found - The specified document could not be found"}},"security":[{"bearerAuth":[]}]}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}},"schemas":{"EntitySchema":{"type":"object","properties":{"workspaceId":{"type":"object","properties":{"id":{"type":"integer"}},"required":["id"]},"id":{"type":"object","properties":{"id":{"type":"integer"}},"required":["id"]},"name":{"type":"string"},"sourcePath":{"type":"string"},"ingestionSource":{"type":"string"},"properties":{"type":"object","properties":{"orderedWorkflowStepIds":{"type":"array","items":{"type":"integer"}}}},"createdAt":{"type":"string","format":"date-time"},"modifiedAt":{"type":"string","format":"date-time"},"createdBy":{"type":"string"},"modifiedBy":{"type":"string"},"renditionId":{"type":"string"},"ref":{"type":"string"},"entitySubType":{"type":"string"},"sourceId":{"type":"string"},"sourceType":{"type":"string"}}},"Assignee":{"type":"object","properties":{"id":{"type":"string","description":"The unique ID of the assignee"},"name":{"type":"string","description":"The name of the assignee"},"email":{"type":"string","description":"The email of the assignee"},"role":{"type":"string","description":"The role of the assignee in relation to the team"}}}}},"security":[{"bearerAuth":[]}],"tags":[{"name":"Workflows","description":"Operations related to workflows."}],"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}